In [1]:
%reload_ext vvpmagics
%connect_vvp -n default localhost -s mySession --force true

Loading vvp-vvpmagics.
Registering vvpmagics for vvp.

In [10]:
%%flink_sql
CREATE TABLE `testTable` (id int)
COMMENT 'SomeComment'
WITH (
'connector.type' = 'kafka',
'connector.version' = 'universal',
'connector.topic' = 'testTopic',
'connector.properties.bootstrap.servers' = 'localhost',
'connector.properties.group.id' = 'testGroup',
'connector.startup-mode' = 'earliest-offset'
)

{'result': 'RESULT_SUCCESS'}

In [3]:
%%flink_sql
SHOW TABLES

  table name
0       test
1  testTable

In [12]:
%%flink_sql -o df_testtable
DESCRIBE testTable

  name type  null key computed column watermark
0   id  INT  true

In [13]:
df_testtable

  name type  null key computed column watermark
0   id  INT  true

In [5]:
%%flink_sql
ALTER TABLE `testTable` SET (
  'connector.properties.bootstrap.servers' = 'localhost',
  'connector.properties.group.id' = 'testGroup',
  'connector.startup-mode' = 'earliest-offset',
  'connector.topic' = 'testTopic2',
  'connector.type' = 'kafka',
  'connector.version' = 'universal'
)

{'result': 'RESULT_SUCCESS'}

In [6]:
%%flink_sql
DROP TABLE `testTable`

{'result': 'RESULT_SUCCESS'}

In [7]:
%%flink_sql
SHOW TABLES

  table name
0       test